/* Nilufer Anlar
   mystyles.css */
   
/* The following are my styles defined for the ITMD-361 Lab5 */ 

body {
  background-color: midnightblue;
  font-family: Verdana, Helvetica, sans-serif;
}

h1, h2, p {
  margin-left: 20px;
  color: white;
}

#tbl {
   background-image: url("../media/milkyway.jpg");
   background-size: contain;
}

#data-table {
  table-layout: auto;
  width: 70%;
  margin: auto;
  caption-side: top;
  text-align: center;
  font-size: 1em;  /* at 16px */
  border-collapse: collapse;
  background-color: Lavender;
  overflow: scroll;  /* scrollable for smaller screens */
}

table caption {
  padding: 0.5em;
  background-color: Silver;
  font-size: 1.5em;
  font-weight: 700;  /* for bold effect */
  color: purple;
}

#row-head, #row-mercury, #row-mars, #row-earth, #row-venus {
 text-align: left;
}

#planets {
  background-color: beige;
}

#row-mercury {
  color: green;
}

#row-venus {
  color: #ff1493;
}

#row-earth {
  color: blue;
}

#row-mars {
  color: red;
}

table th, td {
  padding: 0.5em 0.625em;  /* 8px 10px */
}

#data-source {
  font-size: 1em;
  font-style: oblique;
  padding: 0.5em;
  justify-content: center;
  background-color: skyblue;
  color: white;
}

.mercury-pic {
  position: relative;
  top: 20px; left: 20px;
  width: 100px;
}










