/* Nilufer Anlar
   mystyles.css */
   
/* The following are my styles defined for the ITMD Lab5 */ 

body {
  background-image: url("../media/milkyway.jpg");
}

h1, h2 {
  color: white;
}

.container-table {
  display: grid;
  grid-column: 1fr 1fr 1fr 1fr;
  /* grid-columns: repeat(8, 1fr);*/
  width: 80%;
  margin: auto;
  overflow: scroll;  /* NHA- or auto,  scrollable for smaller screens */
  background-color: LightGray;
  font-size: 1em;  /* at 16px */
  border-collapse: collapse;
}

#tbl-header {
  padding: 0.25em;
  background-color: Silver;
  font-size: 1.5em;
  font-weight: 700;  /* for bold effect */
  color: purple;
}

.row-header {
  border: 1px solid #668db6;
  background-color: #336799;
  color: white;
  font-weight: bold;
}

.planet {
  background-color: yellow;  /* nha - find a better color */
  
}

#mercury {
  color: green;
}

#venus {
  color: #ff4081 ;
}

#earth {
  color: blue;
}

#mars {
  color: red;
}

#table-footer {
    justify-content: center;
    padding: 5px;
    background-color: blue;
    color: white;
}







